# Игнорировать папку с настройками VS Code
.vscode/

# Игнорировать все файлы с расширением .exe
*.exe

# (Опционально) Игнорировать временные папки компиляторов (если есть)
bin/
obj/

poly_app
program